.navButton{
  margin-top:10px;
}
.bgBlue{
  background-color:azure;
  
}

.bgYellow{
  background-color:yellow;
}

.padding{
  padding: 15px;
}

.underline{
  text-decoration: underline;
}
.borderBottom{
  border-bottom: 2px solid black;
}